<ion-content>

  <div class="container my-4 p-0">

    <div class="row">

      <ion-card class="col-3 m-0 mr-4">

        <ion-card-header class="p-2">

          <div class="row">
            
            <div class="col-4 p-1">
              <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
            </div>

            <div class="col-6 p-1">
              <div class="container-fluid d-flex h-100">
                <div class="row justify-content-center align-self-center">
                  UserName <br>
                  Points
                </div>
              </div>
            </div>
          </div>

        </ion-card-header>

        <hr class="m-1">

        <ion-card-content class="p-1 pb-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Repudiandae accusamus fugit itaque voluptate facilis numquam sequi, 
          praesentium distinctio quas illo natus, excepturi maxime, commodi enim eaque adipisci eius labore voluptatem!
        </ion-card-content>

      </ion-card>

      <ion-card class="col-8 m-0">
        Card
      </ion-card>
    </div>

  </div>

</ion-content>